
<div class="panel panel-default">
  <div class="panel-heading">
    Check-In ( Week of - {{date.toLocaleDateString()}})
  </div>
  <div class="panel-body">
      <div class="progress" style="width: 100%">
        <div class="progress-bar" style="width: {{(step/5) * 100}}%;"></div>
      </div>
    <div ng-show="step == 0">
      <div class="form-group">
        <div class="col-sm-4" style="margin-bottom: 15px">
          <label>How are you Feeling?</label>
        </div>
        <div class="col-sm-8" style="margin-bottom: 15px">
          <textarea ng-model="feeling" class="form-control" rows="3"></textarea>
        </div>
      </div>
      <div class="form-group" style="margin-bottom: 15px">
        <div class="col-sm-4">
          <label>Weeks until next contest</label>
        </div>
        <div class="col-sm-8" style="margin-bottom: 15px">
          <input type="number" class="form-control" ng-model="weeksOut"/>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-4" style="margin-bottom: 15px">
          <label>Additional Weight Training</label>
        </div>
        <div class="col-sm-8" style="margin-bottom: 15px">
          <textarea class="form-control" ng-model="additionalTraining" rows="3"></textarea>
        </div>
      </div>
    </div>
    <div ng-show="step == 1">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th class="col-sm-3">Cardio</th>
              <th class="col-sm-1" data-ng-repeat="x in daysInWeek">{{x}}</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="i in cardio">
              <td>{{i.name}}</td>
              <td ng-repeat="k in i.days track by $index"><input type="text" class="form-control" ng-model="k.val"/></td>
            </tr>
          </tbody>
        </table>
    </div>
    <div  ng-show="step == 2">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th class="col-sm-3"></th>
            <th class="col-sm-1" ng-repeat="x in daysInWeek">{{x}}</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="x in macros">
            <td>{{x.name}}</td>
            <td ng-repeat="z in x.days track by $index"><input type="text" class="form-control" ng-model="z.val"/></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div  ng-show="step == 3">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th class="col-sm-3"></th>
            <th class="col-sm-1" ng-repeat="x in daysInWeek">{{x}}</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="x in totals">
            <td>{{x.name}}</td>
            <td ng-repeat="z in x.days track by $index"><input type="text" class="form-control" ng-model="z.val"/></td>
          </tr>
        </tbody>

      </table>


    </div>
    <div  ng-show="step == 4" style="margin-bottom: 15px">
      <div class="form-field">
        <div class="col-sm-4">
          <label>Supplement(s)</label>
        </div>
        <div class="col-sm-8" style="margin-bottom: 15px">
          <textarea class="form-control" rows="3" ng-model="supplements" rows="3"></textarea>
        </div>
      </div>
      <div class="form-field">
        <div class="col-sm-4" style="margin-bottom: 15px">
          <label>Time Spent Posing (minutes)<label>
        </div>
        <div class="col-sm-8" style="margin-bottom: 15px">
          <input type="text" class="form-control" ng-model="timeSpentPosing"/>
        </div>
      </div>
    </div>
    <div  ng-show="step == 5">
      <div class="form-group">
        <div class="col-sm-4">
          <label>Notes</label>
        </div>
        <div class="col-sm-8">
          <textarea class="form-control" ng-model="comments" rows="5"></textarea>
        </div>
      </div>
    </div>


  </div>
  <div class="panel-footer">
      <div class="pull-left">
        <button class="btn btn-default" ng-show="step == 0" ng-click="getPreviousWeek()">Previous Week</button>
        <button type="button" class="btn btn-primary" ng-show="step > 0" ng-click="step = step - 1"><i class="glyphicon glyphicon-chevron-left"></i>&nbsp;Previous</button>
      </div>
      <div class="pull-right">
        <button type="button" class="btn btn-primary" ng-show="step < 5" ng-click="step = step + 1">Next&nbsp;<i class="glyphicon glyphicon-chevron-right"></i></button>
        <button type="button" class="btn btn-success" ng-show="step == 5" ng-click="submit()">Finish</button>
      </div>
      <div class="clearfix"></div>
  </div>

</div>
