<div class="col-sm-6 col-sm-offset-3" data-bind="if: !authorized()">
  <div class="panel panel-default ">
    <div class="panel-heading">
      Sign in1
    </div>
    <div class="panel-body">
      <br/>
      <div class="row">
        <div class="col-sm-6">
          <label>Username</label>
        </div>
        <div class="col-sm-6">
          <input type="text" class="form-control" ng-model="email"/>
        </div>
      </div>
      <div class="row" style="margin-top: 10px">
        <div class="col-sm-6">
          <label>Password</label>
        </div>
        <div class="col-sm-6">
          <input type="password" class="form-control" ng-model="password"/>
        </div>
      </div>

    </div>
    <div class="panel-footer">
      <div class="pull-right">
        <button type="button" class="btn btn-primary" ng-click="login()">Log in</button>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
