<div class="col-sm-12">
  <div class="panel panel-default ">
    <div class="panel-heading">
     Chats
    </div>
    <div class="panel-body" id="chatDiv" style="height: 500px; overflow: scroll; margin: 0px; padding: 0px">
        <ul class="list-group">
          <li class="list-group-item" data-ng-repeat="x in chats">
            <div class="row">
              <div class="col-sm-4">
                <span style="text-color: grey">{{x.email}}</span>
              </div>
              <div class="col-sm-8" style="word-wrap: break-word;">
                {{x.message}}
              </div>
            </div>

          </li>

        </ul>



    </div>
    <div class="panel-footer">
      <div class="input-group">
        <input type="text" class="form-control" ng-model="message" ng-keyup="$event.keyCode == 13 ? sendMessage() : null">
        <span class="input-group-btn">
          <button class="btn btn-primary" type="button" ng-click="sendMessage()">Send</button>
        </span>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
