<div class="col-sm-12">
  <div class="panel panel-default">
    <div class = "panel-heading">
      Work-Out(s)
    </div>
    <div class="panel-body">

        <div class="form-group">
          <div class="col-sm-4">
            <label style="margin-bottom: 7px">Workout</label>
          </div>
          <div class="col-sm-8">
            <input style="margin-bottom: 7px" type="text" class="form-control" placeholder="ex: Deadlifts"  ng-model="title">
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-4">
            <label style="margin-bottom: 7px">Description</label>
          </div>
          <div class="col-sm-8">
            <input style="margin-bottom: 7px" type="text" class="form-control" placeholder="Its Hard..." ng-model="description">
          </div>
        </div>

        <div class="from-group">
          <div class="col-sm-4">
            <label style="margin-bottom: 7px">Difficulty</label>
          </div>
          <div class="col-sm-8">
            <select class="form-control" placeholder="Select One.." ng-model="difficulty" style="margin-bottom: 7px">
              <option value="Novice">Novice</option>
              <option value="Intermediate">Intermediate</option>
              <option value="Difficult">Difficult</option>
            </select>
          </div>

          <div class="form-group">
            <div class="col-sm-4">
              <label style="margin-bottom: 7px">Weight</label>
            </div>
            <div class="col-sm-8">
              <input style="margin-bottom: 7px" type="text" class="form-control" placeholder="Its Hard..." ng-model="weight">
            </div>
          </div>

        </div>
        <div class="form-group">
          <div class="col-sm-4">
            <label></label>
          </div>
          <div class="col-sm-8">
            <div class="pull-left">
              <button class="btn btn-primary" type="button" ng-click="submit()">Save</button>
            </div>
          </div>
        </div>
<br/>
<br/>
<br/>

    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Difficulty</th>
          <th>Weight</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="i in records">
          <td>{{i.title}}</td>
          <td>{{i.description}}</td>
          <td>{{i.difficulty}}</td>
          <td>{{i.weight}}</td>
          <td><button class="btn btn-warning" ng-click="loadRecord(i)">Edit</button></td>
        </tr>
      </tbody>
    </table>

    </div>
    <div class="panel-footer">

    </div>
  </div>
