<div class="panel panel-default">
  <div class="panel-heading">Panel heading</div>
  <div class="panel-body">

    <div class="form-group">
        <label class="control-label" for="FirstName">First Name</label>
        <input class="form-control" id="FirstName" type="text" ng-model="FirstName"/>
    </div>

    <div class="form-group">
        <label class="control-label" for="LastName">Last Name</label>
        <input class="form-control" id="LastName" type="text" ng-model="Lastame"/>
    </div>
    <br/>
    <br/>
    <br/>
    <div class="form-group">
        <label class="control-label" for="Age">Age</label>
        <input class="form-control" id="Age" type="text" ng-model="Age"/>
    </div>
    <div class="btn-group-vertical">
        <button onclick="Sex=makeMale()"> Male </button>
        <button onclick="Sex=makeFemale()"> Female </button>
    </div>
    <div class="form-group">
        <label type="button" class="control-label" for="InitBodyWeight">BodyWeight in Pounds</label>
        <input type="button" class="form-control" id="InitBodyWeight" type="text" ng-model="InitBodyWeight"/>
    </div>
    <div class="form-group">
        <label class="control-label" for="Height">Height in Inches</label>
        <input class="form-control" id="Height" type="text" ng-model="Height"/>
    </div>

    <div class="well well-sm">
        <p> BMR: {{BMR}}</p>
    </div>

    <div class="well well-sm">
        <button type="button" ng-click="BMRcalc(Height,Sex,InitBodyWeight)"> Calculate BMR </button>
    </div>

    
  </div>
</div>