<style type="text/css">
  .form-control{
    margin-bottom: 20px;
  }

</style>
<div class="panel panel-default">
  <div class="panel-heading">Profile</div>
  <div class="panel-body">

    <div class="form-group">
      <div class="col-sm-4">
        <label class="control-label" style="margin-top:7px" for="FirstName">First Name</label>
      </div>
      <div class="col-sm-8">
        <input class="form-control" id="FirstName" placeholder="John" type="text" ng-model="firstName"/>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-4">
        <label class="control-label" style="margin-top:7px" for="LastName">Last Name</label>
      </div>
      <div class="col-sm-8">
        <input class="form-control" id="LastName" placeholder="Doe" type="text" ng-model="lastName"/>
      </div>
    </div>
    <hr style="border:1px solid; color:#cdc1c1"/>
    <div class="form-group">
      <div class="col-sm-4">
        <label class="control-label" style="margin-top:7px" for="age">Age</label>
      </div>
      <div class="col-sm-8">
        <input class="form-control" id="age" placeholder="How old are you?" type="text" ng-model="age"/>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-4">
        <label style="margin-top:7px">Gender</label>
      </div>
      <div class="col-sm-8">
        <div class="btn-group">
            <button id="male" style="margin-bottom:7px" class="btn btn-primary" ng-click="makeMale()"> Male </button>
            <button id="female" style="margin-bottom:7px" class="btn btn-default" ng-click="makeFemale()"> Female </button>
        </div>
      </div>
    </div>


    <div class="form-group">
      <div class="col-sm-4">
        <label class="control-label" style="margin-top:7px" for="InitBodyWeight">Body Weight</label>
      </div>
      <div class="col-sm-8">
        <input  class="form-control" id="InitBodyWeight" placeholder="180lbs" type="text" ng-model="initBodyWeight"/>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-4">
        <label class="control-label" for="Height">Height </label>
      </div>
      <div class="col-sm-8">
        <input class="form-control" id="Height" placeholder="67" type="text"  ng-model="height"/>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-4">
        <label style="margin-top:7px">Exercise Level </label>
      </div>
    </div>

    <div class ="col-sm-8">
      <select class="form-control" ng-model="activity">
        <option value="" selected disabled> Select Your Activity Level </option>
        <option value="1.15">Light/No Exercise</option>
        <option value="1.5">Moderate Exercise(3 days a week)</option>
        <option value="1.7">Heavy Exercise (5 days a week)</option>
        <option value="1.95">Extreme Exercise (6-7 days a week)</option>
      </select>
    </div>
        <div class="col-sm-6 col-sm-offset-3">
         <div class="well well-sm" style="text-align: center" >

        <p> Daily Caloric Need: {{BMR}}</p>
    </div>
    </div>
    </div>

   <div class="panel-footer">
    <div class="pull-left">
        <button type="button" class="btn btn-primary" placeholder="N/A" ng-click="BMRcalc()"> Calculate BMR </button>
    </div>
    <div class="pull-right">
      <button class="btn btn-success" type="button" ng-click= "save()">Save</button>
    </div>
    <div class="clearfix"></div>
  </div>



  </div>

</div>
