<div class="panel panel-default">
  <div class="panel-heading">Profile</div>
  <div class="panel-body">

    <div class="form-group">
        <label class="control-label" for="FirstName">First Name</label>
        <input class="form-control" id="FirstName" placeholder="John" type="text" ng-model="FirstName"/>
    </div>

    <div class="form-group">
        <label class="control-label" for="LastName">Last Name</label>
        <input class="form-control" id="LastName" placeholder="Doe" type="text" ng-model="LastName"/>
    </div>
    <br/>
    <br/>
    <br/>
    <div class="form-group">
        <label class="control-label" for="age">Age</label>
        <input class="form-control" id="age" placeholder="How old are you?" type="text" ng-model="age"/>
    </div>
    <div class="btn-group-vertical">
        <button onclick="Sex=makeMale()"> Male </button>
        <button onclick="Sex=makeFemale()"> Female </button>
    </div>
    <div class="form-group">
        <label  class="control-label" for="InitBodyWeight">BodyWeight in Pounds</label>
        <input  class="form-control" id="InitBodyWeight" placeholder="180" type="text" ng-model="InitBodyWeight"/>
    </div>
    <div class="form-group">
        <label class="control-label" for="Height">Height in Inches</label>
        <input class="form-control" id="Height" placeholder="67" type="text" ng-model="Height"/>
    </div>

    <div class="well well-sm">
        <p> BMR: {{BMR}}</p>
    </div>

    <div class="well well-sm">
        <button type="button" placeholder="N/A" ng-click="BMRcalc(Height,Sex,InitBodyWeight)"> Calculate BMR </button>
    </div>

    
  </div>
</div>